body{
	padding-left: 438px;
	padding-right:438px;
}

h1{
	color: #ffffff;
	margin: 105px 0 0 0;
}

h2{
	color: #ffffff;
	font-size: 20pt;
	font-family: 'Eczar', serif;
	margin: 85px 0 85px 0;
}


p{
	color: #c0c0be;
}

div.contact_contener{
	margin-left: 20px;
}

a.Style{
	font-family: serif;
	font-weight: bolder;
	color: #c0c0be;
}

a.Style2{
	font-family: sans-serif;
}

a.Style2:link{
	color: #c0c0be;
	font-weight: normal;
	text-decoration-line: none;
}

a.Style2:hover{
	color: #c0c0be;
	font-weight: bold;
	text-decoration-line: underline;
}

a.Style2:visited{
	color: #c0c0be;
	font-weight: normal;
	text-decoration-line: none;
}

div.footer{
	position:absolute;
	bottom:15px;
	width:53.5%;
	text-align: center;
	color:#c0c0be;
	font-size: 8px;
}

